<form (ngSubmit)="bookedit()" [formGroup]="bookForm" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" required formControlName="name"><br><br>

    <label for="autor">Autor:</label><br>
    <input type="text" id="autor" name="autor" required formControlName="author"><br><br>

    <label for="salida">Salida:</label><br>
    <input id="salida" name="salida" required formControlName="public"><br><br>

    <input type="submit" value="Agregar">
</form>